/**
* Copyright 2012-2019 MarkLogic Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*    http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
* The use of the Apache License does not indicate that this project is
* affiliated with the Apache Software Foundation.
*
* Code adapted from xray
* https://github.com/robwhitby/xray/tree/v2.1
*
* Modifications copyright (c) 2018-2019 MarkLogic Corporation
**/

ol.coverage-source li {
    font-family: monospace;
    margin-left: 30px;
    color: #999;
}
ol.coverage-source li pre {
    display: inline;
    padding: 0 2px;
    color: #000;
}
ol.coverage-source li.wanted pre { background-color: #f66; }
ol.coverage-source li.covered pre { background-color: #6f6; }

summary, ul li, ul pre { margin: 0; padding: 5px 10px; font-weight: normal; }
summary {
    display: block; /* for non webkit */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ddd;
    font-weight: bold;
}

section.coverage details {
    margin-bottom: 2em;
}
section.coverage details > table {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section.coverage details > table thead th:first-child {
    border-top-left-radius: 0px;
}
section.coverage details > table thead th:last-child {
    border-top-right-radius: 0px;
}
section.coverage details > table tfoot th {
    border-radius: 0px;
}
section.coverage details > table tfoot th:first-child  {
    border-bottom-left-radius: 10px;
}
section.coverage details > table tfoot th:last-child {
    border-bottom-right-radius: 10px;
}

.bar-chart {
    width: 100%;
    height: 1em;
}
span.bar {
    display: inline-block;
    height: 50%;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.missed {
    background: #f66;
}

.covered {
    background: #6f6;
}
